DEBUG=True
SECRET_KEY=django-insecure-allibrary-analytics-secret-key-project-2026
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True

# Database (Leave DB_NAME empty to use default local SQLite3)
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
